footer {
    /*position: absolute;*/
    width: 100%;
    background: whitesmoke;
    bottom: 50px;
    left: 0;
    min-height: 50px;
    line-height: 50px;
}

main {
    margin-bottom: 60px;
}
.pagination{
	margin: 0;
}
.phone-book .panel-body{
	min-height: 500px;
}
.table-striped>tbody>tr.bg-success:nth-of-type(odd){
    background-color: #dff0d8;
}
.table-striped>tbody>tr.bg-success:nth-of-type(even){
    background-color: #dff0d8;
}
.table-striped>tbody>tr.bg-warning:nth-of-type(odd){
    background-color: #fcf8e3;
}
.table-striped>tbody>tr.bg-warning:nth-of-type(even){
    background-color: #fcf8e3;
}
